/* Imagens */
.foto {
    width: 350px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #BB86FC;
    object-fit: cover;
}

#minhafoto {
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    flex: 1; /* A imagem ocupará 50% do espaço */
}

.contato img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

/* Imagem Certificado */
.certificados img {
    width: auto;
    height: 300px;
    margin: 5px;
    border-radius: 12px;
    
}

#certificados{
    text-align: center;
}