/* Seção global */
section {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #BB86FC;
    font-size: 1.8em;
    margin-bottom: 10px;
}

section p {
    color: #E0E0E0;
    font-size: 1em;
    line-height: 1.5em;
}

/* Icones do CONTATO */
#contato img {
    width: 100px;
    height: auto; 
    margin-top: -5px;
    margin-bottom: auto;
}

#contato{
    text-align: center;
}

/* Seção SOBRE MIM */
#sobre-mim{
    text-align: center;
}

/* Seção Portifolio */
#portifolio{
    text-align: center;
}