
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

-----------
* {
    scroll-behavior: smooth;
    
}

body {
    background-image: url("https://img.freepik.com/vetores-gratis/borda-de-neon-synthwave-em-um-vetor-de-modelo-de-banner-de-blog-roxo-escuro_53876-136308.jpg?t=st=1726491177~exp=1726494777~hmac=9e641fb1537da73299294a0ef9fd8e57e2beb31a48a18f63d158955791898da4&w=1060");
    background-size: cover; 
    background-position: center;
     background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
   
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Botão voltar ao topo */
#topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #BB86FC;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    display: none; /* Inicia invisível */
    cursor: pointer;
    z-index: 1000;
}

#topo:hover {
    background-color: #03DAC6;
}

/* Rodape */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    
    color: #E0E0E0;
    margin-top: 40px;
}