/* Topo da Pagina */
#titulo {
    color: #BB86FC;
    padding-top: 68px;
    margin: 0;
    text-align: center;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px 20px 20px; /* Ajusta o padding para evitar sobreposição com o cabeçalho */
}

#home div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#home img {
    max-width: 500px;
    border-radius: 50%;
}

/* Navegação */
#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    position: relative;
}

#main-nav ul li {
    margin-right: 30px;
}

#main-nav ul li a {
    color: #BB86FC;
    text-decoration: none;
    font-weight: bold;
}

#main-nav ul li a:hover {
    color: #03DAC6;
}

#atalho {
    padding: 5px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

#atalho img {
    width: 30px;
    height: 30px; 
    margin-top: -5px;
    margin-bottom: auto;
}